@import "./style.css";

.films-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding-top: 20px;
}

img {
  max-width: 100%;
}

a.film {
  display: block;
  text-decoration: none;
  padding: 1rem;
  max-width: 220px;
  height: 100%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.359);
  }
}

.film-wrapper {
  position: relative;
  max-width: 230px;

  i {
    position: absolute;
    bottom: 2rem;
    left: 10.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .films-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 850px) {
  .films-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .films-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .films-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
