.film-detail {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;

  img {
    max-width: 30%;
  }
}

/* Her er det noe som ikke stemmer*/

.film-card {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .film-detail {
    flex-direction: column;

    img {
      max-width: 60%;
      margin: 0 auto;
    }
  }
}
